<% content_for :title, @movie.title %>

<div class="row">
  <div class="col-lg-9 mx-auto">

    <div class="mb-3">
      <%= link_to t('.back_to_movies'), movies_path, class: "btn btn-sm btn-outline-secondary" %>
    </div>

    <%= render 'movies/shared/movie_details', movie: @movie %>

    <%= render 'movies/shared/comments_section', movie: @movie, comment: @comment %>

  </div>
</div>