<% flash.each do |type, message| %>
  <% bs_class = bootstrap_class_for(type) %>
  <div class="alert alert-<%= bs_class %> alert-dismissible fade show" role="alert">
    <%= message %>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="<%= t('helpers.bootstrap.close_label', default: 'Close') %>"></button>
  </div>
<% end %>